
// // Nesting
// *{
// 	border: 1px solid red;
// }

.column-button{
	width: 100%;
	display: inline-block;
	vertical-align: bottom;
	
}

.img-pos{
	text-align: top;
	margin-top: 3px;
	display: inline-block;

}
.img-onehun{
	width: 100%;
}

.footer-colmn-formatting{
	margin-top: 10px;
	display: inline-block;
	width: 15%;
	height: 300px;
	vertical-align: top;
	margin-left: 5px;
	margin-right: 5px;
}	
.active-btn{
	color: white;
}
.inactive-btn{
	color: rgb(140,190,220);
}
.darker-hr{
	border-color: rgb(220,220,220);
}

body{	
	margin: 0 auto;
	.container{
		margin: 25px auto;
		#header{
			margin: 15px;
			#nav-bar{
				height: 40px;
				background: linear-gradient(180deg, rgb(245,245,245), rgb(225,225,225));
				border-radius: 5px;	
				#nav-bar-left{
					display: inline-block;
					img{
						border-radius: 3px;
					}
					button{
						margin: 0;
						height: 37px;
						vertical-align: top;
						font-weight: bold;
						background: transparent;
						border: none;
						border-right: 1px solid rgb(237,237,237);
						border-top-right-radius: 0px;
						border-bottom-right-radius: 0px;
					}
				}
				#nav-bar-right{
					display: inline-block;
					float: right;
					margin: 8px;
					margin-right: 10px;
					input{
						border-bottom-left-radius: 10px;
						border-top-left-radius: 10px;
					}
					button{
						height: 25px;
						vertical-align: top;
						font-weight: bold;
						color: white;
						border-top-right-radius: 10px;
						border-bottom-right-radius: 10px;
						background: linear-gradient(180deg, rgb(85,146,190), rgb(63,111,143));
					
					}

				}
			}



		}
		#picture{

			margin: 15px;
			height: 450px;
			img{
				width: 100%;

			}
			#picture-nav{
				width: 100%;
				background: linear-gradient(180deg, rgb(131,131,131), rgb(87,87,87));
				border-bottom-right-radius: 5px;
				border-bottom-left-radius: 5px;
				height: 30px;
				word-spacing: 8px;
				padding-left: 10px;
				button{
					background-color: transparent;
					border: none;
					padding: 5px;
					
				}
			}
		}

		#browse-store{
			margin: 15px;
			height: 100px;
			#browse-store-left{
				display: inline-block;
				width: 55%;
				margin: 0 auto;
				height: 80px;
				h1{
					color: rgb(185,185,185);
				}
			}
			#browse-store-right{
				width: 40%;
				display: inline-block;
				margin: 0 auto;
				height: 40px;
				margin-left: 30px;
				button{
					height: 80px;
					width: 100%;
					font-weight: bold;
					font-size: 17px;
					color: white;
					background: linear-gradient(180deg, rgb(85,146,190), rgb(63,111,143));
					border-radius: 10px;
					text-align: left;
					padding-left: 40px;
					height: 60px;
				}
			}

			margin-top: 80px;
		}

		#columns{
			text-align: center;
			vertical-align: top;
			width: 100%;
			padding-bottom: 20px;
			margin-left: 5px;
			margin-right: 5px;
			background: linear-gradient(180deg, rgb(253,253,253), rgb(240,240,240));
			border-radius: 5px;
			border-color: rgb(220,220,220);
			
			h2{
				font-size: 22px;
				font-weight: bold;
				display: inline-block;
			}
			button{
					height: 50px;
					vertical-align: bottom;
					margin-top: 35px;
					display: inline-block;
					background: linear-gradient(180deg, rgb(94,182,245), rgb(89,160,216));
					border-radus: 8px;
					color: white;
					font-weight: bold;
					font-size: 18px;
				}
			#column1{
				text-align: left;
				height: 400px;
				display: inline-block;
				width: 22%;
				margin: 0 auto;
				margin-left: 10px;
				margin-right: 10px;
				vertical-align: middle;
				p{
					padding: 3px;
					padding-bottom: 18px;
				}

				
			}
			#column2{
				text-align: left;
				height: 400px;
				display: inline-block;
				width: 22%;
				margin: 0 auto;
				margin-left: 10px;
				margin-right: 10px;
				vertical-align: middle;
				p{
					padding: 3px;
				}
				
				
			}
			#column3{
				text-align: left;
				height: 400px;
				display: inline-block;
				width: 22%;
				margin: 0 auto;
				margin-left: 10px;
				margin-right: 10px;
				vertical-align: middle;
				p{
					padding: 3px;
				}
				
				
			}
			#column4{
				text-align: left;
				height: 400px;
				display: inline-block;
				width: 22%;
				margin: 0 auto;
				margin-left: 10px;
				margin-right: 10px;
				vertical-align: middle;
				p{
					padding: 3px;
					padding-bottom: 11px;
				}
				
				
			}
		}
		#footer-info{
			margin-top: 20px;
			margin: 15px;
			height: 300px;
			margin: 5px auto;
			text-align: center;
			h3{
				text-align: left;
				font-weight: bold;
			}
			hr{
				border-width: 3px;
				padding: 16px;
			}
			ul{
				font-size: 10px;
				text-align: left;
				padding: 5px;

				li{
					margin-top: 5px;
					list-style-type: none;
					a{
						color: grey;
					}
				}
			}

		}
		#footer{
			margin: 15px;
			height: 100px;
		}

	}
}